#app {
  font-family: "Roboto", sans-serif;
  margin: auto;
  padding: 20px;
  position: relative;
  background: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.section {
  /* This is where the sub H1 wraps/blocks start to look bad, so the sections wrap here */
  flex: 600px; 
}

h1 {
  font-size: 65px;
  font-weight: bold;
}

.item {
  height: 500px;
}

.small {
  height: 250px;
}

.caption {
  font-size: 11px;
}

.pp-button-container {
  margin: 30px 0;
}

